In [1]:
import mysql.connector
import pandas as pd

# Load your dataset
file_path = 'Cleaned_UK_Bank_Customer-Analysis.csv'  # Replace with your actual file path
df = pd.read_csv(file_path)

# Connect to MySQL
connection = mysql.connector.connect(
    host="localhost",      # Your MySQL host
    user="root",           # Your MySQL username
    password="9345",       # Your MySQL password
    database="uk_Bank_Customer"  # Name of your database
)

# Check if the connection is successful
if connection.is_connected():
    print("Connected to MySQL database")

# Create a cursor object to interact with the MySQL database
cursor = connection.cursor()

# SQL query to create the table (if it doesn't exist)
create_table_query = """
CREATE TABLE IF NOT EXISTS customers (
    customer_id INT PRIMARY KEY,
    name VARCHAR(100),
    surname VARCHAR(100),
    gender VARCHAR(10),
    age INT,
    region VARCHAR(100),
    job_classification VARCHAR(100),
    date_joined DATE,
    balance FLOAT
);
"""
cursor.execute(create_table_query)
print("Table 'customers' created successfully.")

# Prepare the insert query
insert_query = """
INSERT INTO customers (customer_id, name, surname, gender, age, region, job_classification, date_joined, balance)
VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)
"""

# Insert data from the DataFrame into the MySQL table
for _, row in df.iterrows():
    cursor.execute(insert_query, (
        int(row['Customer ID']),
        row['Name'],
        row['Surname'],
        row['Gender'],
        int(row['Age']),
        row['Region'],
        row['Job Classification'],
        row['Date Joined'],
        float(row['Balance'])
    ))

# Commit the transaction
connection.commit()

print(f"{cursor.rowcount} rows inserted successfully into 'customers' table.")

# Close the cursor and the connection
cursor.close()
connection.close()
print("MySQL connection closed.")

Connected to MySQL database
Table 'customers' created successfully.
1 rows inserted successfully into 'customers' table.
MySQL connection closed.